Your permissions for json files in data is reading is allowed but not writing

Avoid using mocks in tests, unless there is no other option

Remember we use the config from the src/data/bundledData.ts unless using the cli

Don't try to fix everything at once.

Avoid changing the schema unless instructured to do so

e2e tests should use production data, other tests should use test data, ideally test fixtures. The test db is tests/fixtures/test_bundled_data.ts

use `test` instead of just vitest

run cli with tsx

reading bundledData.ts is fine but don't write to it
